body{
  font-family: 'Montserrat', sans-serif;
  margin:0;
}
  * {
    box-sizing: border-box;
  }
  section {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }
.flex-container {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.flex-container-horizontal{
  display: flex;
}
.flex-item-left {
  padding: 10px;
  flex: 50%;
}
  .flex-item-right {
  padding: 10px;
  flex: 50%;
}
@media (min-width: 700px) {
  .flex-container {
    flex-direction: column;
  }

h1{
  margin-top: 0;
}

/*header*/
header{
  background: white;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 20px;
  position: relative;
}
a {
  color: #A2B8AB;
  text-decoration: none;
  position: relative;
  justify-content: space-around;
}
a:hover{
  color: #F8A54A;
}

/*white theme*/
.color-white-theme{
  background-color: white;
  background-size: 800px;
}
.color-white-theme h1{
  position: relative;
  color: #E7581A;
  font-style: normal;
  font-weight: 800;
  font-size: 100px;
  line-height: 122px;
  text-align: center;
}
.color-white-theme h2{
  position: relative;
  color: #A2B8AB;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 59px;
  text-align: center;
}
/*h1: hover{
  color: #C4C4C4;
}*/
/*red theme*/
.color-red-theme {
background-color:#E7581A;
}
.color-red-theme h1{
  color: #F8A54A;
  font-style: normal;
  font-weight: 800;
  font-size: 100px;
  line-height: 122px;
  text-align: center;
}
.color-red-theme p{
  color: #F8A54A;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
  padding: 20px;
}
/*orange theme*/
.color-orange-theme{
  background-color: #F8A54A;

}
.color-orange-theme h1{
  margin: none;
  position: relative;
  padding: 20px;
  color: #E7581A;
  font-style: normal;
  font-weight: 800;
  font-size: 100px;
  line-height: 122px;
  text-align: center;
}
.color-orange-theme h2{
  position: relative;
  color: #E7581A;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
}
.color-orange-theme p{
  position: relative;
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  padding: 20px;
}
li{
  list-style: none;
  text-align: center;
}
.color-orange-theme a{
  position: relative;
  color: #E7581A;
  text-decoration: none;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 122px;
  text-align: center;
}

.color-orange-theme a:hover{
  color: white;
}
.color-orange-theme a:active{
  color: #53b9ae;
}

/*blue theme*/
.color-blue-theme{
  background-color: #A2B8AB;
}
.color-blue-theme h1{
  text-align: center;
  position: relative;
  color: white;
  font-style: normal;
  text-decoration: none;
  font-weight: 800;
  font-size: 100px;
  line-height: 122px;
}
.color-blue-theme a{
  position: relative;
  color: white;
  font-style: normal;
  text-decoration: none;
  font-weight: 800;
  font-size: 100px;
  line-height: 122px;
  text-align: center;
}
.color-blue-theme a:hover{
  color: #E7581A;
  text-align: center;
}
}

@media (max-width: 699px) {
  .flex-container {
    flex-direction: column;
  }

    h1{
      margin-top: 0;
    }
    /*header*/
    header{
      background: white;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      padding: 5px;
      position: relative;
    }
    a {
      color: #A2B8AB;
      text-decoration: none;
      position: relative;
      justify-content: space-around;
    }
    a:hover{
      color: #F8A54A;
    }

    /*white theme*/
    .color-white-theme{
      background-color: white;
      background-size: 800px;
    }
    .color-white-theme h1{
      position: relative;
      color: #E7581A;
      font-style: normal;
      font-weight: 800;
      font-size: 36px;
      line-height: 44px;
      text-align: center;
    }
    .color-white-theme h2{
      position: relative;
      color: #A2B8AB;
      font-style: normal;
      font-weight: 500;
      font-size: 36px;
      line-height: 44px;
      text-align: center;
    }

    /*red theme*/
    .color-red-theme {
    background-color:#E7581A;
    }
    .color-red-theme h1{
      color: #F8A54A;
      font-style: normal;
      font-weight: 800;
      font-size: 36px;
      line-height: 44px;
      text-align: center;
    }
    .color-red-theme p{
      color: #F8A54A;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      text-align: left;
      padding: 10px;
    }

    /*orange theme*/
    .color-orange-theme{
      background-color: #F8A54A;

    }
    .color-orange-theme h1{
      margi
      position: relative;
      padding: 10px;
      color: #E7581A;
      font-style: normal;
      font-weight: 800;
      font-size: 36px;
      line-height: 44px;
      text-align: center;
    }
    .color-orange-theme h2{
      position: relative;
      color: #E7581A;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 30px;
      text-align: center;
    }
    .color-orange-theme p{
      position: relative;
      color: white;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      padding: 10px;
    }
    li{
      list-style: none;
      text-align: center;
    }
    .color-orange-theme a{
      position: relative;
      color: #E7581A;
      text-decoration: none;
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      line-height: 30px;
      text-align: center;
    }

    .color-orange-theme a:hover{
      color: white;
    }
    .color-orange-theme a:active{
      color: #53b9ae;
    }

    /*blue theme*/
    .color-blue-theme{
      background-color: #A2B8AB;
    }
    .color-blue-theme h1{
      text-align: center;
      position: relative;
      color: white;
      font-style: normal;
      text-decoration: none;
      font-weight: 800;
      font-size: 36px;
      line-height: 44px;
    }
    .color-blue-theme a{
      position: relative;
      color: white;
      font-style: normal;
      text-decoration: none;
      font-weight: 800;
      font-size: 36px;
      line-height: 44px;
      text-align: center;
    }
    .color-blue-theme a:hover{
      color: #E7581A;
      text-align: center;
    }



} /* end small media*/


/*Colors
red- E7581A
orange- F8A54A
blue- A2B8AB
grey- C4C4C4
*/
