body{
  font-family: 'Montserrat', sans-serif;
}

h1{
  color: #53b9ae;
  background-color: white;
  font-size: 300%;
}
h3{
  font-style: italic;
}

.special-text{
  font-style: oblique;
  font-weight: 700;
}
a:link{
  color: #e7581a;
  background-color: white
}
a:visited{
  color: #a2b8ab;
  background-color: white
}
a:hover{
  color: #53b9ae;
  background-color: white
}
a:active{
  color: #f8a54a;
  background-color: white
}

button{
  font-size: 20px;
  background-color: #f8a54a;
  color: white;
  border: none;
}
button:hover{
  background-color: #e7581a;
  color: white;
  box-shadow: 10px 10px 5px;
}
button:active{
  background-color: #a2b8ab;
  color: white;
  box-shadow: 10px 10px 5px;
}


hr{
    height: 5px;
    color: white;
    background-color: #a2b8ab;
    border: none;
    }


body {
  font-family: sans-serif;
  font-size: 40px;
  width: 100%;
  min-height: 100px;
}
