.special-text{
  font-style: oblique;
  font-weight: 700;
}

#header-text{
  color: purple;
  background-color: white;
}

.button {
  border-radius: 40px;
  padding: 15px;
  max-width: 50px;
  font-size: 12px;
  background-color: red;
  color: white;
  border: none;

}

.button:hover{
  box-shadow: 10px 10px 5px;
}
